@import '../../styles/bootstrap';

.fragment-list {
  min-height: 52px;
  background: url(/images/hud/text-bg.png);
  padding: 8px;
  border: 1px solid #001727;
  font-family: Hack, monospace;
  font-size: clamp(10px, 2vw, 14px);
  overflow: inherit;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-top: 16px;
  color: $white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.fragment-list::-webkit-scrollbar {
  display: none;
}

.header {
  overflow: visible;
}

.header img {
  position: absolute;
  top: -32px;
  left: -14px;
}

.header h6 {
  position: absolute;
  top: 3px;
  left: 20px;
}

.header .header-text {
  position: absolute;
  top: -29px;
  left: 4px;
  text-align: center;
  width: 150px;
  font-weight: 100;
}

.area-server .status-indicator {
  max-width: 24px;
}
