@import '../../styles/_variables.scss';

footer {
  background: $primary-gradient-reverse;
  min-height: 78px;
  width: 100%;
  padding: 16px;
  margin-top: 32px;
  position: relative;
}

footer .container-fluid {
  margin: 18px 0px;
}

.lead {
  font-size: 1.1rem;
}

.text-muted {
  font-size: 0.8rem;
}
