@import '../../styles/main.scss';
@import '../../styles/_variables.scss';

.navbar {
  background: $primary-gradient;
  z-index: 99;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 8px;
}

#responsive-navbar-nav {
  margin-top: 4px;
}

.nav-link {
  color: $white !important;

  &:hover {
    color: $light !important;
  }
}

.navbar-collapse {
  margin-top: -5px;
}
