@import '../../app/[locale]/styles/bootstrap.scss';

.character-container {
  width: 370px;
  margin: 0;
}
.stats-container {
  position: relative;
  color: $light;
  overflow-wrap: normal;
}

.avatar {
  position: absolute;
  left: 8%;
  top: 9%;
  height: 92%;
  width: auto;
}

.stats-hud {
  position: relative;
  height: 100%;
  width: auto;
}

.character-name {
  position: absolute;
  top: 6%;
  left: 38%;
  font-size: 9pt;
}

.hack-font {
  font-family: Hack, monospace;
}

.hp-amount {
  position: absolute;
  width: 88px;
  top: 43%;
  left: 50%;
  font-size: 9pt;
  text-align: center;
  color: $yellow;
  font-weight: bold;
}

.sp-amount {
  position: absolute;
  width: 66px;
  text-align: center;
  top: 78%;
  left: 56%;
  font-size: 8pt;
  color: $yellow;
  font-weight: bold;
}

.char-stats-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  align-content: center;
  height: 100%;
}
