html {
  position: relative;
  min-height: 100%;
}

body {
  background: linear-gradient(to bottom, rgba(15, 15, 15, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%), url('../assets/images/fragment.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}